<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              
               <div class="main_content">
                   <h1>Login as </h1>
                   <a href="/rwalogin" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">RWA Member</a>
                   <a href="/societylogin" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Society Member</a>
                   
                   <a href="/register" class="btn btn-primary" role="button" aria-pressed="true">Register yourself here</a>
               </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>