<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                    <form action="/register" method="POST" class="temp_form">
                        <label for="name">Name:</label>
                        <input type="text" name="name" placeholder="Enter Your Name" autocomplete="off" required>

                        <label for="hnumber"> House Number:</label>
                        <input type="Number" name="hnumber" placeholder="Enter Your House Number" autocomplete="off"
                            required>

                        <label for="fnumber">Floor Number:</label>
                        <select name="fnumber" required>
                            <option value="Ground">Ground</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>
                        </select>

                        <label for="sname">Street Name:</label>
                        <input type="text" name="sname" placeholder="Enter Your Street Name" autocomplete="off"
                            required>

                        <label for="dname">District:</label>
                        <input type="text" name="dname" placeholder="Enter Your District" autocomplete="off" required>

                        <label for="owner">Type of Ownership:</label>

                        <label for="owner">Owner<input type="radio" name="owner"></label>
                        <label for="owner">Tenant<input type="radio" name="owner"></label>

                        <label for="dob">Enter Your Dob:</label>
                        <input type="date" name="dob" autocomplete="off" required>

                        <label for="phone">Enter your phone number:</label>
                        <input type="tel" name="phone" placeholder="Enter your Mobile Number" required>

                        <label for="email">Create Username:</label>
                        <input type="email" name="email" placeholder="Enter your email" autocomplete="off" required>

                        <label for="password">Create Password:</label>
                        <input type="password" name="password" placeholder="Enter Your Password" autocomplete="off"
                            required>

                        <label for="confirmpassword">Confirm Password:</label>
                        <input type="password" name="confirmpassword" placeholder="Confirm Your Password" autocomplete="off"
                            required>

                        <label for="addproof">Upload your Address Proof:</label>
                        <input type="file" name="addproof" accept="image/*">

                        <label for="rcproof">Upload your RC</label>
                        <input type="file" name="rcproof" accept="image/*">

                        <input type="submit" value="Submit" id="submitBtn">
                    </form>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>