@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

* {
   margin: 0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Baloo Bhai 2', cursive;
}

:root{
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

html{
    font-size: 62.5%;
}

body{
    height:100vh;
    display: flex;
    flex-direction: column;
}

.row{
    margin:0;
}

.main_menu{
    background-color: var(--main-bg);
}
.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 1.4rem 0;
}
.navbar li{
    margin: 1rem;
}
.navbar a{
    color: #fff;
    font-size: 2rem;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar-toggler{
    background-color: grey;
}
.main_header_left{
    height: 60rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.main_header_left p{
    font-size: 2rem;
}
.main_header_left h2{
    font-size: 3rem;
    margin: 1.2rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_left .txt_clr{
    color: var(--main-color);
}
/* .main_header_left button{
    border:none;
    padding:0.8rem 1.8rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px rgb(24, 14, 14);
} */
.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}
.main_header_right{
    height: 60rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.main_header_right figure img{
    filter: drop-shadow(0 0.5rem 1rem rgba(8, 8, 8, 0.3));
} 

/* temp details are shown here */
.tempInformation{
    width: 40rem;
    margin:auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius:1rem;
    padding:1rem;
    font-family: 'Baloo Bhai 2', cursive;
}
.temp_form{
    color: aliceblue;
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 60rem;
    margin:10px 0px 10px 300px;
    
    min-height: 20rem;
    background-color: #202438;
    border-radius:1rem;
    padding:1rem;
    font-family: 'Baloo Bhai 2', cursive;
}
.main_content{
    font-size: 3rem;
    width: 50rem;
    margin:100px 0px 0px 300px;
}
.btn-dark{
    
    margin-bottom: 5 rem; 
    /* padding-top:5rem; */
    font-size: 2rem;
    width: 50rem;
    text-align: center;
    border: 100px;
    border: solid;
}

.errimg img{
    height: 30rem;
    width: 50rem;
    filter: drop-shadow(0 0.5rem 1rem rgba(8, 8, 8, 0.3));
}

footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}

footer p{
    margin:0;
    text-align: center;
    color:#fff;
    font-size:1.5rem;
    line-height: 5rem;;
}

/* /* Responsive Code */
@media(max-width: 768px){
    .main_header_left{
        height:auto;
        margin: 5rrem 0;
    }

    .main_header_right{
        height: auto;
        margin-top: 3rem 0;
    }
}